.find-us-link {
    background-color: #262626;
    color: #f3f4f0;
}

.video-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-wrapper video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-wrapper h2 {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6vw;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #262626;
    line-height: 1;
    mix-blend-mode: screen;
    padding-top: 150px;
    padding-left: 60px;
    z-index: 3;
}

.find-us-text-container {
    position: absolute;
    top: 200px;
    right: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    z-index: 5;
}
.find-us-text {
    font-family: "Lato Light";
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2;
}
.find-us-text img {
    width: 14px;
}
.find-us-button {
    display: inline-block;
    width: 200px;
    font-family: "Lato Regular";
    color: #f3f4f0;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid #262626;
    padding: 15px 35px;
    background-color: #262626;
    transition: all 300ms;
}
.find-us-button:hover {
    color: #262626;
    background-color: #f3f4f0;
}

.whatsapp-icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    font-family: "Lato Regular";
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 18px;
    margin-bottom: 150px;
}
.whatsapp-icon-wrapper a{
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 0;
}
.whatsapp-icon-wrapper a svg{
    width: 34px;
    margin-right: 20px;
    transition: all 300ms;
}
.whatsapp-icon-wrapper a:hover svg{
    cursor: pointer;
    fill: green;
    transform: scale(1.2);
}
.whatsapp-icon-wrapper .arrow-icon {
    width: 25px;
    transform: rotate(180deg);
}
.find-us-text-container .phone {
    margin-top: 50px;
}
.find-us-text-container .email {
    margin-top: 18px;
}
.find-us-text-container .phone,
.find-us-text-container .email{
    font-family: "Lato Regular";
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.2;
}
.find-us-text-container .phone span,
.find-us-text-container .email span{
    font-family: "Lato Black";
}
